<section class="calories">
    <div class="container calories__container">
        <div class="calories__inner">
            <div class="calories__title-box">
                <h2 class="calories__title">Calories Energy Balance</h2>
                <div class="calories__disc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            </div>
            <div class="calories__card-box">
                <div class="calories__card">
                    <div class="calories__card-title-box">
                        <p class="calories__card-title">Starters</p>
                        <a href="#" class="calories__card-arrow-box">
                            <img
                                src="./assets/images/icons/calories-arrow.svg"
                                alt=""
                                class="calories__card-arrow"
                            />
                        </a>
                    </div>
                    <div class="calories__card-image-box">
                        <img src="./assets/images/calories-image1.png" alt="" class="calories__card-image" />
                    </div>
                </div>
                <div class="calories__card">
                    <div class="calories__card-title-box">
                        <p class="calories__card-title">Mains</p>
                        <a href="#" class="calories__card-arrow-box">
                            <img
                                src="./assets/images/icons/calories-arrow.svg"
                                alt=""
                                class="calories__card-arrow"
                            />
                        </a>
                    </div>
                    <div class="calories__card-image-box">
                        <img src="./assets/images/calories-image2.png" alt="" class="calories__card-image" />
                    </div>
                </div>
                <div class="calories__card">
                    <div class="calories__card-title-box">
                        <p class="calories__card-title">Soups</p>
                        <a href="#" class="calories__card-arrow-box">
                            <img
                                src="./assets/images/icons/calories-arrow.svg"
                                alt=""
                                class="calories__card-arrow"
                            />
                        </a>
                    </div>
                    <div class="calories__card-image-box">
                        <img src="./assets/images/calories-image3.png" alt="" class="calories__card-image" />
                    </div>
                </div>
            </div>
            <div class="calories__swiper swiper">
                <div class="calories__swiper-wrapper swiper-wrapper">
                    <div class="calories__swiper-slide swiper-slide">
                        <div class="calories__swiper-slide-inner">
                            <p class="calories__swiper-rewiew">
                                “Turpis egestas ultricies purus Lorem ipsum dolor sit amet. Lorem ipsum dolor
                                sit amet, consectetur adipiscing elit. Purus lorem id penatibus imperdiet.
                            </p>
                            <div class="calories__swiper-person">
                                <img
                                    class="calories__swiper-peron-image"
                                    src="./assets/images/calories-avatar.png"
                                    alt=""
                                />
                                <div class="calories__swiper-person-name-box">
                                    <p class="calories__swiper-person-name">John Smith</p>
                                    <p class="calories__swiper-person-prof">Bloger</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="calories__swiper-slide swiper-slide">
                        <div class="calories__swiper-slide-inner">
                            <p class="calories__swiper-rewiew">
                                "Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia facere
                                sapiente harum quae, commodi iste expedita asperiores architecto consequatur
                                fugiat?"
                            </p>
                            <div class="calories__swiper-person">
                                <img
                                    class="calories__swiper-peron-image"
                                    src="./assets/images/calories-avatar.png"
                                    alt=""
                                />
                                <div class="calories__swiper-person-name-box">
                                    <p class="calories__swiper-person-name">Simon Wilson</p>
                                    <p class="calories__swiper-person-prof">Bloger</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="calories__swiper-slide swiper-slide">
                        <div class="calories__swiper-slide-inner">
                            <p class="calories__swiper-rewiew">
                                “Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia facere
                                sapiente harum quae, commodi iste expedita asperiores architecto consequatur
                                fugiat?“
                            </p>
                            <div class="calories__swiper-person">
                                <img
                                    class="calories__swiper-peron-image"
                                    src="./assets/images/calories-avatar.png"
                                    alt=""
                                />
                                <div class="calories__swiper-person-name-box">
                                    <p class="calories__swiper-person-name">Piter Parker</p>
                                    <p class="calories__swiper-person-prof">Bloger</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="calories__swiper-decor-box">
                    <img
                        src="./assets/images/icons/calories-swiper.svg"
                        alt=""
                        class="calories__swiper-decor"
                    />
                </div>
            </div>
            <div class="calories__swiper-nav-box">
                <div class="calories__swiper-nav-btn-next swiper-button-next">
                    <svg
                        width="48"
                        height="28"
                        viewBox="0 0 48 28"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M34.0517 0.982422L31.3237 3.77048L39.6221 12.063H0.75V15.938H39.6221L31.3257 24.2324L34.0517 27.0185L47.0659 14.0005L34.0517 0.982422Z"
                            fill="#233000"
                        />
                    </svg>
                </div>
                <div class="calories__swiper-nav-btn-prev swiper-button-prev">
                    <svg
                        width="48"
                        height="28"
                        viewBox="0 0 48 28"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M13.7642 0.982422L16.4922 3.77048L8.19386 12.063H47.0659V15.938H8.19386L16.4902 24.2324L13.7642 27.0185L0.749981 14.0005L13.7642 0.982422Z"
                            fill="#233000"
                        />
                    </svg>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
