<section class="diet">
    <div class="container diet__container">
        <div class="diet__inner">
            <div class="diet__left-box">
                <div class="diet__left-image">
                    <img src="./assets/images/diet-image1.png" alt="" class="">
                </div>
                <div class="diet__title-box">
                    <div class="diet__title">
                        Start to plan your diet today
                    </div>
                    <p class="diet__left-disc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque congue arcu
                    </p>
                </div>
            </div>
            <div class="diet__right-box">
                <div class="diet__right-disc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque congue arcu</div>
                <div class="diet__right-image">
                    <img src="./assets/images/diet-image2.png" alt="" class="">
                </div>
            </div>
        </div>
    </div>
</section>