<section class="fashion">
    <div class="fashion__container container">
        <div class="fashion__inner">
            <div class="fashion__item">
                <div class="fashion__item-image-box">
                    <button class="fashion__item-btn">Fashion</button>
                    <img class="fashion__item-image" src="./assets/images/fashion-image1.png" alt="" />
                </div>
                <div class="fashion__item-person-box">
                    <div class="fashion__item-person">
                        <img class="fashion__person-image" src="./assets/images/fasion-avatar1.png" />
                        <p class="fashion__person-text">Julie Christie</p>
                        <p class="fashion__person-text">October 17,2021</p>
                        <p class="fashion__person-text">3:33 pm</p>
                        <p class="fashion__person-text">2 comments</p>
                    </div>
                    <div class="fashion__item-title-box">
                        <h2 class="fashion__item-title">
                            Fruit and vegetables and protection against diseases
                        </h2>
                        <div class="fashion__item-delimiter"></div>
                        <p class="fashion__item-disc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                        <a class="fashion__item-readmore">Read More</a>
                    </div>
                </div>
            </div>
            <div class="fashion__item">
                <div class="fashion__item-image-box">
                    <button class="fashion__item-btn">Fashion</button>
                    <img class="fashion__item-image" src="./assets/images/fashion-image2.png" alt="" />
                </div>
                <div class="fashion__item-person-box">
                    <div class="fashion__item-person">
                        <img class="fashion__person-image" src="./assets/images/fasion-avatar2.png" />
                        <p class="fashion__person-text">Dianne Russell</p>
                        <p class="fashion__person-text">October 17,2021</p>
                        <p class="fashion__person-text">3:33 pm</p>
                        <p class="fashion__person-text">2 comments</p>
                    </div>
                    <div class="fashion__item-title-box">
                        <h2 class="fashion__item-title">Asparagus Spring Salad with Rocket, Goat's Cheese</h2>
                        <div class="fashion__item-delimiter"></div>
                        <p class="fashion__item-disc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                        <a class="fashion__item-readmore">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
