<footer class="footer">
    <div class="footer__inner">
        <div class="footer__top">
            <div class="container">
                <div class="footer__top-inner">
                    <h2 class="footer__title">Food Zero.</h2>
                    <div class="footer__contact-box">
                        <p class="footer__contact-title">Contact</p>
                        <div class="footer__contact-tel-box">
                            <a href="" class="footer__contact-tel">+1+86 852 346 000 </a>
                            <a href="" class="footer__contact-mail">info@foodzero.com</a>
                        </div>
                        <p class="footer__contact-address">1959 Sepulveda Blvd. Culver City, CA, 90230</p>
                    </div>
                    <div class="footer__form-box">
                        <p class="footer__form-title">Never Miss a Recipe</p>
                        <div class="footer__form-input">
                            <input class="footer__form" type="text" required placeholder="Email Address" />
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <button type="submit" class="footer__btn buttons button-green">Subscribe</button>
                        </div>
                        <p class="footer__form-disc">
                            Join our subscribers and get best recipe delivered each week!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="container">
                <div class="footer__bottom-inner">
                    <div class="footer__copyright">© 2020 Zero Inc. All rights Reserved</div>
                    <div class="footer__social-box">
                        <a href="" class="footer__social-insta">
                            <img src="./assets/images/icons/insta.svg" alt="" />
                        </a>
                        <a href="" class="footer__social-twitter">
                            <img src="./assets/images/icons/twitter.svg" alt="" />
                        </a>
                        <a href="" class="footer__social-facebook">
                            <img src="./assets/images/icons/facebook.svg" alt="" />
                        </a>
                        <a href="" class="footer__social-youtube">
                            <img src="./assets/images/icons/youtube.svg" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
