<header class="header">
    <div class="container header__container">
        <div class="header__logo-box">
            <div class="header__logo">
                <a href="" class="header__logo-btn">
                    <img src="./assets/images/icons/logo.svg" alt="" />
                </a>
            </div>
            <div class="header__burger-btn-box">
                <a href="#" class="header__burger-btn">
                    <img src="./assets/images/icons/NavOpen.svg" alt="" />
                </a>
            </div>
        </div>

        <div class="header__order-box">
            <div class="header__order-tel-box">
                <a href="tel:+86852346000" class="header__order-tel">+86 852 346 000</a>
            </div>
            <div class="header__order-btn-box">
                <button class="header__order-btn">Reservations</button>
            </div>
        </div>
    </div>
</header>
