<section class="main">
    <div class="container main__container">
        <div class="main__inner">
            <div class="main__content-box">
                <div class="main__title-box">
                    <h1 class="main__title title">Healthy Eating is important part of lifestyle</h1>

                    <h2 class="main__description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque congue arcu
                    </h2>
                </div>

                <a class="main__scroll-btn">
                    <h2 class="main__scroll-text">Scroll ---------------------</h2>
                </a>
            </div>
            <div class="main__image-box">
                <img src="./assets/images/main-image.png" alt="" class="main__image">
            </div>
            <div class="main__spices-box">
                <div class="main__spices-image">
                    <img src="./assets/images/spices1.png" alt="" class="">
                </div>
                <div class="main__spices-image">
                    <img src="./assets/images/spices2.png" alt="" class="">
                </div>
                <div class="main__spices-image">
                    <img src="./assets/images/spices3.png" alt="" class="">
                </div>
            </div>
        </div>
    </div>
</section>
