<div class="modal">
    <div class="container">
        <div class="modal__inner">
            <button class="modal__close-btn">
                <svg
                    width="32"
                    height="31"
                    viewBox="0 0 32 31"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M17.5009 15.3906L31.5086 1.4815L30.0894 0.0722961L16.0817 13.9814L2.07399 0.072342L0.654785 1.48155L14.6625 15.3906L1.02282 28.9342L2.44202 30.3434L16.0817 16.7998L29.7214 30.3435L31.1406 28.9342L17.5009 15.3906Z"
                        fill="black"
                    />
                </svg>
            </button>
            <div class="modal__accordion-wrapper">
                <div class="modal__accordion-item">
                    <div class="modal__accordion-item-header">
                        <button class="modal__accordion-btn">
                            <p class="modal__accordion-title">Home</p>
                        </button>
                    </div>
                    <div class="modal__accordion-item-body">
                        <ul class="modal__accordion-item-body-content">
                            <li class="modal__accordion-item-btn-box">
                                <a href="#" class="modal__accordion-item-btn">1 Column</a>
                            </li>
                            <li class="modal__accordion-item-btn-box">
                                <a href="#" class="modal__accordion-item-btn">2 Column</a>
                            </li>
                            <li class="modal__accordion-item-btn-box">
                                <a href="#" class="modal__accordion-item-btn">3 Column</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal__accordion-item">
                    <div class="modal__accordion-item-header">
                        <button class="modal__accordion-btn">
                            <p class="modal__accordion-title">Menu</p>
                        </button>
                    </div>
                    <div class="modal__accordion-item-body">
                        <ul class="modal__accordion-item-body-content">
                            <li class="modal__accordion-item-btn-box">
                                <a href="#" class="modal__accordion-item-btn">1 Column</a>
                            </li>
                            <li class="modal__accordion-item-btn-box">
                                <a href="#" class="modal__accordion-item-btn">2 Column</a>
                            </li>
                            <li class="modal__accordion-item-btn-box">
                                <a href="#" class="modal__accordion-item-btn">3 Column</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal__accordion-item">
                    <div class="modal__accordion-item-header">
                        <button class="modal__accordion-btn">
                            <p class="modal__accordion-title">Blogs</p>
                        </button>
                    </div>
                    <div class="modal__accordion-item-body">
                        <ul class="modal__accordion-item-body-content">
                            <li class="modal__accordion-item-btn-box">
                                <a href="#" class="modal__accordion-item-btn">1 Column</a>
                            </li>
                            <li class="modal__accordion-item-btn-box">
                                <a href="#" class="modal__accordion-item-btn">2 Columns</a>
                            </li>
                            <li class="modal__accordion-item-btn-box">
                                <a href="#" class="modal__accordion-item-btn">Sidebar Post</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal__accordion-item">
                    <div class="modal__accordion-item-header">
                        <button class="modal__accordion-btn">
                            <p class="modal__accordion-title">About</p>
                        </button>
                    </div>
                    <div class="modal__accordion-item-body">
                        <ul class="modal__accordion-item-body-content">
                            <li class="modal__accordion-item-btn-box">
                                <a href="#" class="modal__accordion-item-btn">1 Column</a>
                            </li>
                            <li class="modal__accordion-item-btn-box">
                                <a href="#" class="modal__accordion-item-btn">2 Column</a>
                            </li>
                            <li class="modal__accordion-item-btn-box">
                                <a href="#" class="modal__accordion-item-btn">3 Column</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal__accordion-item">
                    <div class="modal__accordion-item-header">
                        <button class="modal__accordion-btn">
                            <p class="modal__accordion-title">Contact</p>
                        </button>
                    </div>
                    <div class="modal__accordion-item-body">
                        <ul class="modal__accordion-item-body-content">
                            <li class="modal__accordion-item-btn-box">
                                <a href="#" class="modal__accordion-item-btn">1 Column</a>
                            </li>
                            <li class="modal__accordion-item-btn-box">
                                <a href="#" class="modal__accordion-item-btn">2 Column</a>
                            </li>
                            <li class="modal__accordion-item-btn-box">
                                <a href="#" class="modal__accordion-item-btn">3 Column</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal__contact-inner">
                <div class="modal__contact-title-box">
                    <p class="modal__contact-title">Contact</p>
                    <div class="modal__contact-delimeter"></div>
                </div>
                <div class="modal__contact-box">
                    <div class="modal__contact-tel-box">
                        <a href="" class="modal__contact-tel">+1+86 852 346 000 </a>
                        <a href="" class="modal__contact-mail">info@foodzero.com</a>
                    </div>
                    <p class="modal__contact-address">1959 Sepulveda Blvd. Culver City, CA, 90230</p>
                </div>
                <div class="modal__social-box">
                    <a href="" class="modal__social-insta">
                        <img src="./assets/images/icons/insta.svg" alt="" />
                    </a>
                    <a href="" class="modal__social-twitter">
                        <img src="./assets/images/icons/twitter.svg" alt="" />
                    </a>
                    <a href="" class="modal__social-facebook">
                        <img src="./assets/images/icons/facebook.svg" alt="" />
                    </a>
                    <a href="" class="modal__social-youtube">
                        <img src="./assets/images/icons/youtube.svg" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
