
<section class="reservation">
    <div class="container reservation__container">
        <div class="reservation__inner">
            <div class="reservation__title-box">
                <h2 class="reservation__title">Make a Reservation</h2>
                <p class="reservation__disc">Get in touch with restaurant</p>
            </div>
            <div class="reservation__form-box">
                <div class="reservation__form-input">
                    <input id="datepicker" class="reservation__form" type="text" required placeholder="16/22/2021" />
                    <span class="highlight"></span>
                    <span class="bar"></span>
                </div>
                <div class="custom-select">
                    <div class="select-selected reservation__form-person select-arrow-inactive">2 Person</div>
                    <div class="select-items reservation__select-items select-hide">
                        <div>2 Person</div>
                        <div>3 Person</div>
                        <div>4 Person</div>
                        <div>5 Person</div>
                        <div>6 Person</div>
                    </div>
                </div>
                <div class="custom-select">
                    <div class="select-selected2 reservation__form-person select-arrow-inactive">6:00</div>
                    <div class="select-items2 reservation__select-items select-hide">
                        <div>6:00</div>
                        <div>9:00</div>
                        <div>12:00</div>
                        <div>15:00</div>
                        <div>18:00</div>
                    </div>
                </div>

            </div>
            <div class="reservation__btn-box">
                <button type="submit" class="reservation__btn buttons button-green">Book Now</button>
            </div>
        </div>
    </div>
</section>
